/*--------------------------------------------------------------
# SITE WIDE VARIABLES
--------------------------------------------------------------*/

/*  Fonts  */

/*  Colours  */

/*  Mobile Sizes  */

$sixteen:				1600px;
$fourteen:				1400px; 
$twelve:				1200px;
$nine:					991px;
$seven:					768px;
$six:					600px;	
$four:					450px;

/*  Website Variables  */

$footer:				150px;

/*  Font Variables  */
 